<div class="new-school">
  <a class="create-new-school"<%= link_to "create new school", new_school_path %></a>
</div>
<div class="grid-x">
  <% @schools.each do |school| %>
  <div class="large-3 cell medium 6-cell small 11-cell cell organizations">
    <h1 class="join-school"><%= link_to school.name, school_path(school.id), class: "join-school" %></h1>
    <% if @user && @user.school_id != school.id %>
      <a <%= button_to 'Join School', school_user_path(school.id, @user.id), method: :patch %></a>
    <% end %>
    <h2><%= school.description %></h2>
  </div>
    <% end %>

</div>
