.form-container{
  width: 50%;
  margin: 0 auto;
}

.form-super-container{
}

form.new_user{
  margin: 0 auto;
}

.actions{
  margin-left: 14.3rem;
  margin: 0 auto;
}

label{
  font-size: 1.5rem;
}

textarea{
  max-width: 100%;
  min-height: 100px;
}


h1.new-facility{
  font-size: 2.6rem;
}

.edit-name{
  text-align: center;
}

.new-facility{
  text-align: center;
}

.edit-school{
  text-align: center;
}

.new-division{
  text-align: center;
}

.edit-division{
  text-align: center;
}

.log-in{
  text-align: center;
}

.register{
  text-align: center;
  margin-right: 3rem;
}
