* {
  font-family: 'Lato', sans-serif;
}

div{
  display: inline-block;
}

div.new-school{
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

div.grid-margin-x{
  text-align: center;
}

.create-new-school {
  padding: 0.35rem;
  font-size: 2.3rem;
  color: #363636;
  border: 1px solid black;
  background-color: #85CFB0;
  border-radius: 10rem;

}

a.create-new-school {
  margin-top: -1rem;
  padding: 0.85rem;
}



.back-button{
  float: left;
  font-size: 1.6rem;
  color: black;
  margin-left: 3rem;
}

p.school-description{
  font-size: 1rem;
}

a.join-school{
  color: black;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.organizations{
  height: 350px;
  border: 1px solid black;
  margin: 2.5rem;
  padding: .5rem;
  background-color: #D47E80;
  overflow: auto;
}
