.creator-name{
  font-size: 2.3rem;
}

div.button-container{
  text-align: center;
}

div#app{
  text-align: center;
}

div{
  display: inline-block;
  width: 100%;
  background-color: #EEEEEE;
}

.student-tile{
  background-color: #969696;
  padding: 2rem;
  height: 45rem;
  border: 1rem solid #EEEEEE;
  overflow: overlay;
}

.student-photo{
  height: 20rem;
  border-radius: 50%;
}

.button.tiny{
  margin: 0 1rem;
}

.name{
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
}

p{
  font-size: 1.2rem;
}

div.small-4.cell.classroom-info.teachers{
  width: 32.333333%;
}

.classroom-info{
  background-color: #D67E7F;
  height: 15rem;
  overflow: auto;
}

.description{
  font-size: 1.5rem;
}

.teachers{
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}

a.remove-user{
  font-size: 1.4rem;
}

p.teacher-name{
  font-size:1.3rem;
  margin: 0;
}

.classroom-name{
  text-align: center;
}

.classroom-title{
  font-family: 'Jura', sans-serif;
  font-weight: bold;
}

.classroom-description{
  font-size: 1.4rem;
}

textarea{
  max-width: 100%;
}

.transfer{
  margin-top: 1rem;
}

div.dropdown{
  width: 30%;
  display:block;
  margin: 0 auto;
}
