.toggle-button-false{
  background-color: #BDEDAF;
}

.toggle-button-true{
  background-color:  #85CFB0;
}

.toggle-button-false:hover{
  background-color: #BD0711;
}

.toggle-button-true:hover{

}

.toggle-button-true:focus{

}

.creator-name{
  font-size: 2.3rem;
}

div.button-contaier{
  text-align: center;
}

div#app{
  text-align: center;
}

div{
  display: inline-block;
  width: 100%;
  background-color: #EEEEEE;
}

.student-tile{
  background-color: #89BFC6;
  padding: 2rem;
  height: 40rem;
  border: 1rem solid #EEEEEE;
  overflow: overlay;
}

.student-photo{
  height: 20rem;
  border-radius: 50%;
}

p{
  font-size: 2rem;
}

.button.tiny{
  margin: 0 1rem;
}

.name{
  text-align: center;
  text-decoration: underline;
}

p{
  font-size: 1.2rem;
}

div.small-4.cell.classroom-info.teachers{
  width: 32.333333%;
}

.classroom-info{
  background-color: #D67E7F;
  height: 15rem;
  overflow: auto;
}

.description{
  font-size: 1.5rem;
}

.teachers{
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}

a.remove-user{
  font-size: 1.4rem;
}

p.teacher-name{
  font-size:1.3rem;
  margin: 0;
}

.classroom-name{
  text-align: center;
}

.classroom-description{
  font-size: 1.4rem;
}

textarea{
  max-width: 100%;
}


/*.classroom-info{
  background-color: #D67E7F;
  margin-top: 0;
}

.classroom-name{
  float: left;
}

.edit-classroom{
  margin: 0;
  line-height: 1;
}

.teachers{
  text-align: center;
}

.classroom-description{
  float: right;
  display: inline-block;
}

.teacher-name{
  float: center;
  text-align: center;
  width: 50%;
}*/
